* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    max-width: 100vw;

    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    min-height: calc(100vh)
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a.active {
    font-weight: 700;
    color: #FFF;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 100%;
}

#header, #menu, #slider {
    display: none;
}

button {
    width: 250px !important;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.btn {
    cursor: pointer;
    border: none;
}

.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 4%;
    flex-direction: column;
    z-index: 1;
}

.bar {
    display: block;
    background-color: #F2F2F2;
    width: 33px;
    height: 3px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger.dark .bar {
    background-color: #2B0000;
}

/* MANOIR LOGO */
.logoManoirRamezay {
    position: absolute;
    left: 4%;
    top: 0px;
    width: 100px;
    height: 100px;
    background-image: url("../images/photos2.0/manoirLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    cursor: pointer;
}

/***** HEADER CARDS ****/
.card--header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-size: cover !important;
    padding: 0 32px;
    /*background: linear-gradient(0deg, rgba(42, 0, 0, 0.4), rgba(42, 0, 0, 0.4)), url("../images/photos/spa_8.jpg");*/
    background: linear-gradient(0deg, rgba(42, 0, 0, 0.4), rgba(42, 0, 0, 0.4)), url("../images/photos2.0/header1.png");
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
}

.cardTitle {
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #FFFFFF;
}

.arrowBack {
    position: absolute;
    top: 24px;
    left: 24px;
    cursor: pointer;
}

.expandIcon {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

/**LOCATION CARD ***/
.card--location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 24px;
    gap: 16px;
    background: #F6F6F9;
    color: #2B0000;
}

/****BEGINNING HOTEL ROOMS *****/



.room {
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    background: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.room span {
    font-weight: 600;
}

.standardGuest {
    background-image: url("../images/photos2.0/rooms/standardRoom/standard1.png");
}

.deluxeGuest {
    background-image: url("../images/photos2.0/rooms/deluxeRoom/deluxeRoom.png");
}

.suiteFireplace {
    background-image: url("../images/photos2.0/rooms/suiteFireplace/suiteFireplace.png");
}

.queenSuite {
    background-image: url("../images/photos2.0/rooms/queenSuite/queenSuite.png");
}

.familySuite {
    background-image: url("../images/photos2.0/rooms/familySuite/familySuite.png");
}

.kingSuite {
    background-image: url("../images/photos2.0/rooms/royalSuite/royalSuiteBanner.png");
}

.royalSuiteKitchen {
    background-image: url("../images/photos2.0/rooms/royalSuiteKitchen/royalSuiteKitchen.png");
}

.roomBannerClick {
    position: relative;
    background: var(--gray-6, #F2F2F2);
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--brown-80, #2B0000);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.banner--mostBeautiful {
    position: absolute;
    width: 100%;
    background-color: #22312E;
    height: 40px;
    top: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 20.4px */
    color: #FFF;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px 24px;
}
/****END HOTEL ROOMS *****/

.emailLink {
    color : #E0E0E0;
    font-weight: 400;
    font-size: 18px;
}


/** RESERVATION CARD **/

.reservation {
    text-transform: uppercase;
    font-size: 18px;
}

.reservationContainers {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.reservation--section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reservation--section > div:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    
}

.reservation--row {
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.reservation--row img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-bottom: 8px;
}

/** SIDE MENU (MOBILE) **/

.sideMenu {
    position: absolute;
    top:0;
    right: 0;
    width: 90%;
    min-height: 100%;
    height: auto;
    background-color: #131313;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 140px 40px 80px 0px;
    gap: 32px;
    z-index: 99;
}

.sideMenu.active {
    display: flex;
}

.cross-container {
    cursor: pointer;
    position: absolute;
    top: 48px;
    right: 4%;
    width: 33px;
    height: 33px;
  }
  
  .cross {
    position: absolute;
    width: 100%;
    height: 2.75px;
    background: #F2F2F2;
    transform-origin: center center;
  }
  
  .cross:first-child {
    transform: rotate(45deg);
  }
  
  .cross:last-child {
    transform: rotate(-45deg);
  }

.no-scroll {
    overflow: hidden;
}

.card--reservation {
    background-color: #22312E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    max-width: 100%;
}

.card--reservation {
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.05em;
    padding: 80px 24px;
    color: #FFFFFF;
}

.sideMenu .container--links {
    align-items: flex-end;
    font-weight: 300;
    font-size: 32px;
    line-height: 200%;
    /* identical to box height, or 41px */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #BDBDBD;
}

.sideMenu .menu--container--links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 24px;
    text-transform: uppercase;
    color: #BDBDBD;
    font-weight: 300;
    letter-spacing: 1.6px;
}

.sideMenu .menu--container--links a:hover {
    color: #ECECEC;
}

form.reservationOptions--container {
    width: 100%;
}

form .btnCheckAvail {
    margin: 40px auto 0;
}

/***********END SIDE MENU MOBILE *******************/

.btnCheckAvail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    background: #B25C11;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
    margin-top: 40px;
    width: 250px;
    height: 72px;
}

.btnCheckAvail:hover {
    background-color: #A0530F;
}


div a b {
    color: #FFF;
}

/***FOOTER ***/

#footer {
    order: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px 60px;
    gap: 24px;
    width: 100%;
    background: #131313;
}

.container--links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 170%;
    text-transform: uppercase;
    color: #E0E0E0;
}

.contact--infos {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    color: #E0E0E0;
    display:flex;
    flex-direction: column;
}

.logo--section {
    gap: 8px;
}

/* FOOTER */
.establishment {
    font-weight: 400;
    font-size: 12px;
    color: #E0E0E0;
    margin-top: 4px;
    margin-bottom: 8px;
    display: block;
}

.establishment.desktop {
    display: none;
}

/**** END FOOTER ****/

.card.card--staying > img {
    width: 24px;
    height: 24px;
}

/**LOCATION BANNER **/

.card--location span {
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #131313;
    font-weight: 300;
}

.card--location img {
    width: 100%;
    max-width: 500px;
}

.locationInfos {
    font-size: 16px;
    line-height: 170%;
    color: #131313;
}


.card.card--location .locationIcon {
    max-width: 40px;
}

.discover .btnCheckAvail {
    display: none;
}

.wrapper--allRooms {
    padding: 40px 8px 80px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

/* Was for index page */
.wrapper--allRooms.mobile {
    padding: 40px 8px 0;
    margin-bottom: 40px;
}

.wrapper-room {
    width: 100%;
    cursor: pointer;
}

.wrapper-room.mobile .room:hover {

}


.wrapper--allRooms.desktop {
    display: none;
}

.phone--section {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    text-transform: uppercase;
}

.infos--section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* not visible on room's pages */
.infos--section.roomPage {
    display: none;
}

.creditCard {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.registration {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
}

.breakfast--wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFAF2;
    padding: 40px;
    gap: 40px;
    margin: 0 20px 80px 20px;

}

.breakfast--text {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
    font-weight: 400;
    color: #131313;
    font-size: 16px;
    line-height: 27px;
    flex-direction: column;
}

.breakfastTitle {
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 1.6px;
}

img.breakfast {
    width: 250px;
}

/**mobile history indexWrapper */
.historyIndexWrapper.mobile {
    flex-direction: row;
    gap: 0;
    padding: 80px 32px;

}


.historyIndexWrapper.desktop {
    display: none;
}
.historyIndexWrapper {
    display: flex;
    background-color: #392929;
    padding: 80px 200px;
    gap: 80px;
}

.historyIndexTextWrapper {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.historyIndex {
    width: 326px;
}

.indexHistoryTitle {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.indexHistoryTitle > span {
    font-size: 72px;
    font-weight: 700;
}

.indexHistoryText {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 500px;
}

.indexHistoryBtn {
    border: 2px solid #FFF;
    padding: 20px 24px;
    height: 72px;
    width: 200px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    text-transform: capitalize;
    background-color: #392929;
    margin: 0 auto;
}

.indexHistoryBtn:hover {
    background-color: #302424;
}

.card.contact--form__wrapper.index {
    padding-bottom: 0;
}

/****** ALL ROOMS DISPLAYED ***********/

.global--wrapper {
    display: none;
    justify-content: center;
    padding: 4% 0;
    height: auto;
    width: 100%;
    gap: 2%;
}

.global--wrapper.active {
    display: flex;
}

.wrapper--allImg {
    top: 0;
    position: absolute;
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.arrowBack.roomWrapper {
    z-index: 1;
}

.card--location .text--wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footerLogo {
    order: 0;
    height: 72px;
}

.btnCheckAvail.bottom {
    margin-bottom: 80px;
}

.carousel--indicator {
    z-index: 2;
}



.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide[data-active] {
    opacity : 1;
    transition-delay: 0ms;
}

.index.carousel ul[data-slides] {
    display: none;
}

/** widget reservation **/
#check-in-date::after, #check-out-date::after {
    content: "";
    position: relative;
    width:20px;
    opacity: 0.5;
    background-image: url('../images/icons/calendarIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -8px;
}

/* Date picker widget CUSTOM */

.datepicker-dropdown {
    box-shadow: none;
}

.bookingInfo--wrapper .contact--infos {
    display: none; /* removed from site */
}


.card--header.index.carousel p {
    font-weight: 300;
}

.discover--text {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    color: #131313;
}

.discover--text span {
    letter-spacing: 1.6px;
}

.bannerStar img {
    width: 13px;
    height: 13px;
}

.datepicker-container.datepicker-dropdown {
    box-shadow: none !important;
}

/* only mobile -exception for widget CUSTOM */
@media screen and (max-width: 768px) {
    .datepicker-container {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: fit-content !important;
        height: auto !important;
        font-size: 16px !important; */
    }

    .datepicker-container .datepicker-panel ul li[data-view="month current"] {
        /* width: fit-content !important; */
    }

    .datepicker-panel>ul>li {
        /* width: 50px !important;
        height: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center; */
    }
}

.card--header.index.carousel p {
    letter-spacing: 1.6px;
}


/* Screen that are 768px or more (desktop) */
@media screen and (min-width: 768px) {

    /* MENU */
    .sideMenu .menu--container--links {
        font-size: 28px;
    }

    .delimiter--topFooter {
        position: absolute;
        bottom:0;
        left: 16%;
        width: 64%;
        background-color: rgba(255,255,255,0.2);
        opacity: 0.5;
        height:1px

    }

    
    .btn.btnCheckAvail.bottom {
        display: block;
    }
    
    /** CARD RESERVATION WRAPPER **/

    .cardActivities--wrapper {
        display: flex;
        flex-direction: row;
        padding: 80px 72px;
        gap: 10px;
    }

    .cardActivities--wrapper .card--desc {
        height: 560px;
    }


    .card--location {
        order: unset;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }

    .locationInfos {
        max-width: 70%;
    }

    #footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 64px;
    }

    #footer .facebook {
        /* display: none; */
    }

    .contact--infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .footerLogo {
        order: 0;
    }

    .container--links, .contact--infos {
        order: 1;
    }


    /* rooms options */

    .rooms--wrapper {
        display:flex;
        padding: 80px 71px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .wrapper--allRooms.mobile {
        display: none;
    }

    .wrapper--allRooms.desktop {
        display:flex;
        gap: 32px;
        padding: 40px 80px 80px 80px;
    }

    .wrapper--allRooms .room {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 600px;
        height: 400px;
    }
    
    .btnCheckAvail {
        padding: 20px 92px;
    }

    .btnCheckAvail.top {
        display: block;
        display: flex;
        width: 250px;
        height: 56px;
        padding: 20px 24px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        margin-top: 38px;
    }

    .btnCheckAvail.bottom {
        display: none;
    }

    .rooms--wrapper {
        padding-bottom: 0;
    }

    .discover {
        display: flex;
        width: 100%;
        gap: 24px;
    }

    .discover--text {
        font-size: 56px;
        font-weight: 300;
        letter-spacing: 2.8px;
        width: 40%;
    }

    .discover--text span {
        font-weight: 700;
    }

    /* Make reservation section */

    .reservation--section{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 3px;
        border-bottom: 2px solid #FFF;
    }
    
    .reservation--row {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        gap: 8px;
    }

    .reservation--section .reservation--row {
        border-bottom: none;
    }
    
    .phone--section {
        display: flex;
        gap: 48px;
        font-weight: 400;
        font-size: 14px;
        position: relative;
    }
    
    .phone--section div:first-child::after {
        content:'.';
        position: absolute;
        top: -24%;
        right: 50%;
        font-weight: 700;
        font-size:18px;
    }

    .card--reservation {
        justify-content: center;
    }

    .reservationOptions--container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 32px;
    }

    .reservation--section {
        width: 250px;
    }

    .sideMenu {
        width: 100%;
        align-items: center;
    }

    .reservationContainers {
        flex-direction: row;
    
    }

    .room--wrapper {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        box-shadow: 0px 10px 30px 0px rgba(118, 118, 118, 0.10);
        max-width: 1200px;
    }

    .roomCardDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        padding-left: 64px;
        color: #131313;
    }

    .roomTitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 38.4px */
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }

    .roomDescription {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 170%; /* 30.6px */
    }

    .roomView {
        display: flex;
        width: 200px;
        height: 72px;
        font-size: 16px;
        margin-top: 20px;
        line-height: 150%;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid var(--brown-80, #2B0000);
        color: #2B0000;
        background: rgba(255, 255, 255, 0.50);
        font-weight: 700;
        cursor: pointer;
    }

    .roomView:hover {
        color: rgba(0, 0, 0, 0.9); /* Text color with opacity */
        background-color: #F2F2F2;
    }

    .bannerStar {
        background-color: #22312E;
        padding: 4px 8px;
        display: flex;
        gap: 6px;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        color: #FFF;
        font-size: 12px;
    }

    /* DEKSTOP VERSION OF ROMMWRAPPER */


    .desktop > .arrowBack.roomWrapper {
        position: relative;
        left: unset;
        right: unset;
        top: 0;
    }
        .wrapper--allImg.desktop {
            top: 0;
            position: absolute;
            width: auto;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            position: relative;
            width: 800px;
            
        }


        .wrapper--allImg.desktop  .card--header {
            background-position: center;
            width: 800px;
        }

    /** New sets of images for rooms **/
    
     .standardGuest {
        background-image: url("../images/photos2.0/rooms/standardRoom/standardRoomDesktop.png");
    }
    
    .deluxeGuest {
        background-image: url("../images/photos2.0/rooms/deluxeRoom/deluxeRoomDesktop.png");
    }
    
    .suiteFireplace {
        background-image: url("../images/photos2.0/rooms/suiteFireplace/suiteFireplaceDesktop.png");
    }
    
    .queenSuite {
        background-image: url("../images/photos2.0/rooms/queenSuite/queenSuiteDesktop.png");
    }

    .familySuite {
        background-image: url("../images/photos2.0/rooms/familySuite/familySuiteDesktop.png");
    }
    
    .kingSuite {
        background-image: url("../images/photos2.0/rooms/royalSuite/royalSuiteBannerDesktop.png");
    }
    
    .royalSuiteKitchen {
        background-image: url("../images/photos2.0/rooms/royalSuiteKitchen/royalSuiteDesktopKitchen.png");
    }

    /** END - img romms */
    
    .carousel .word-per-line {
        font-size: 56px;
    }

    /** FOOTER **/
    .establishment.mobile {
        display: none;
    }

    .establishment.desktop {
        display: block;
        font-size: 12px;
        color: #fff;
        margin-top: 30px;
    }

    .historyIndexWrapper.desktop {
        width: 100%;
        display: flex;
    }

    .historyIndexWrapper.mobile {
        display: none;
    }

    .historyIndex {
        max-width: 600px;
        width: 100%;
    }

    .breakfast--wrapper {
        flex-direction: row;
        padding: 40px;
        gap: 40px;
        margin: 0 0 80px 0;
    }

    .img.breakfast {
        width: 100%;
    }

    .indexHistoryBtn {
        margin: unset;
    }

    form.reservationOptions--container {
        width: unset;
    }

    .index.carousel ul[data-slides] {
        display: block;
    }

    .contact--form__wrapper .form--snippet{
        font-size: 32px;
    }

    .emailLink {
        font-size: 24px;
    }
}