.card--header.allStartedIn {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos2.0/allStartedIn.png");
    font-weight: 300 !important;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Helvetica';
}

.card.card--staying {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 80px 32px;
    color: var(--brown-80, #2B0000);
    text-align: center;
    font-size: 24px;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    line-height: 150%;
}

.card--history {
    color: #2B0000;
    padding-bottom: 40px;
    align-items: start;
}

.card--history img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.history--title {
    font-size: 32px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 24px;
}

.history--text--container {
    max-width: 100%;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 48px 16px;
    color: #131313;
}

p.bold {
    font-weight: 700;
}

.card--today {
    background: url("../images/photos2.0/historyToday.png");
}

.card--desc.card--today {
    height: auto;
}

.card--today.desktop {
    display: none;
}

.word-per-line b {
    border-bottom: 11px solid #B1602C;
    font-style: italic;
    font-size: 80px;
}

.todayText {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.roomAndSuite {
    font-weight: 700;
}

.img.desktop {
    display: none;
}


.allStartedIn .word-per-line {
    font-size: 40px;
    line-height: 150%;
}

.card--today.mobile button {
    display: flex;
    width: 200px;
    height: 72px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 150%;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #FFF;
    background: transparent;
    font-weight: 700;
    cursor: pointer;
    color: #FFF;
}

.history--text--container p.history--title {
    width: 100%;
}


/* Screen that are 768px or more */
@media screen and (min-width: 768px) {

    .allStartedIn .word-per-line {
        font-size: 56px;
    }

    .word-per-line b {
        font-size: 72px;
    }

    
    
    .card--header.allStartedIn {
        background: url("../images/photos2.0/headerDesktopHistory.png");
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 250px;
    }
    
    .allStartedIn b::before {
        content: "\A";
        white-space: pre;
        border-bottom: #B1602C 11px solid;
    }

    .history--title {
        padding: 0 0 24px 0;
    }

    .card--history {
        background-color: #F2F2F2;
        padding: 120px 0;
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .history--text--container {
        align-items: baseline;
        max-width: 800px;
        padding: 0px;
    }

    .card--today.mobile {
        display:none;
    }
    
    .card--today.desktop > * {
        flex-basis: 100%;
    }


    .img.history--today img {
       
    }

    .card--desc.card--today.desktop {
        width: 100%;
        height: 100%;
        flex-direction: row;
        display:flex;
        background: none;
        align-items: center;
        padding: 0;
    }

    .history--today_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }


    .history--today_text > * {
        max-width: 380px;
    }

    .history--today_text > span.today {
        color: var(--black, #131313);
        font-size: 56px;
        font-style: normal;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 2.8px;
    }

    .history--today_text p {
        color: var(--black, #131313);
        font-family: Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .btnCheckAvail {
        margin: 0;
    }

    .img.desktop {
        display: block;
    }

    .card.card--desc.card--today {
        gap: 56px;
    }

}