.card--header.allStartedIn {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos2.0/allStartedIn.png");
    font-weight: 300;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Helvetica';
}

.card.card--staying {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 80px 32px;
    color: var(--brown-80, #2B0000);
    text-align: center;
    font-size: 24px;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    line-height: 150%;
}

.card--history {
    color: #2B0000;
    padding-bottom: 40px;
    align-items: start;
}

.history--title {
    font-size: 32px;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 16px;

}

.history--text--container {
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:16px;
    padding: 16px;
}

p.bold {
    font-weight: 700;
}

.card--today {
    background: url("../images/photos2.0/historyToday.png");
}

.card--desc.card--today {
    height: auto;
}

.card--today.desktop {
    display: none;
}

.word-per-line b {
    border-bottom: 11px solid #B1602C;
}

.todayText {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.roomAndSuite {
    text-decoration: underline;
    font-weight: 700;
}


/* Screen that are 768px or more */
@media screen and (min-width: 768px) {
    .card--header.allStartedIn {
        background: url("../images/photos2.0/headerDesktopHistory.png");
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 250px;
    }
    
    .allStartedIn b::before {
        content: "\A";
        white-space: pre;
        border-bottom: #B1602C 11px solid;
    }

    .card--history {
        display: flex;
        width: 100%;
        padding: 80px 120px;
        flex-direction: column;
        align-items: baseline;
        gap: 32px;
    }

    .history--text--container {
        align-items: baseline;
        padding: 0px;
    }

    .card--today.mobile {
        display:none;
    }
    
    .card--today.desktop > * {
        flex-basis: 100%;
    }


    .img.history--today img {
       
    }

    .card--desc.card--today.desktop {
        width: 100%;
        height: 100%;
        flex-direction: row;
        display:flex;
        background: none;
        align-items: center;
        padding: 0;
    }

    .history--today_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }


    .history--today_text > * {
        max-width: 380px;
    }

    .history--today_text > span.today {
        color: var(--black, #131313);
        font-size: 56px;
        font-style: normal;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 2.8px;
    }

    .history--today_text p {
        color: var(--black, #131313);
        font-family: Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .btnCheckAvail {
        margin: 0;
    }

}