

/***** HEADER CARDS ****/
.card--header.index {
    background:  url("../images/photos2.0/headerIndex.png");
}

.card--header p {
    padding-top: 40px;
}


.card--relax {
    background:  url("../images/photos2.0/relax.png"), lightgray 50%;

}

.card--cozy {
    background: url("../images/photos2.0/cozy.png"), lightgray 50% / cover no-repeat;
    
}

.card--allStarted {
    background: url("../images/photos2.0/allStarted.png");
}

.card--cozy.card--desc,
.card--allStarted.card--desc {
    height: 560px;
}

.index .word-per-line b {
    position: relative;
    z-index: 2;
}

.index .word-per-line b::after {
    content:'';
    position: absolute;
    width: 110%;
    height:18px;
    top:40%;
    left: -5%;
    background-color: #B1602C;
    z-index: -1;
}


.card--desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 600px !important;
    padding: 100px 40px;
    gap: 32px;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
}

.card--desc span:not(.roomAndSuite),
.card--desc p {
  display: block; /* or inline-block */
}

.card--desc p {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
}

.card--allStarted div {
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}


.btnViewHistory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    width: 231px;
    height: 56px;
    border: 2px solid rgba(255, 255, 255, 0.70);
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
}

.discover--text span {
    font-weight: 700;
}
/************END INDEX CARDS***********/


.discover {
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2B0000;
    padding: 48px 20px 20px;
}


/* Screen that are 768px or more */
@media screen and (min-width: 768px) {
    .card--header.index {
        background: url("../images/photos2.0/headerDesktop.png");
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 250px;
        height: 700px;
    }
    
    .word-per-line {
        color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
    }

    .options--wrapper {
        display: flex;
        padding: 100px 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        align-self: stretch;
    }

    .card--desc {
        height: 574px;
        width: 600px;
    }

}