
.logoManoirRamezay {
    position: absolute;
    left: 8px;
    top: 20px;
    width: 185px;
    height: 72px;
    background-image: url("../images/photos2.0/manoirRamezay.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/***** HEADER CARDS ****/
.card--header.index {
    background: linear-gradient(0deg, rgba(42, 0, 0, 0.4), rgba(42, 0, 0, 0.4)), url("../images/photos2.0/header1.png");
}

.card--header p {
    padding-top: 40px;
}

.reservationContainers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;

}

.reservation--section{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 3px;
    border-bottom: 2px solid #FFF;
}

.reservation--row {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 8px;
}

.phone--section {
    font-weight: 400;
    font-size: 18px;
}

.card--relax {
    background: linear-gradient(0deg, rgba(59, 89, 112, 0.4), rgba(59, 89, 112, 0.4)), url("../images/photos2.0/relax.png");
}

.card--cozy {
    background: linear-gradient(0deg, rgba(42, 0, 0, 0.6), rgba(42, 0, 0, 0.6)), url("../images/photos2.0/cozy.png");
}

.card--allStarted {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.525) 0%, rgba(0, 0, 0, 0.7) 53.89%), url("../images/photos2.0/allStarted.png");
}


.card--desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 24px;
    gap: 32px;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
}

.card--desc span,
.card--desc p {
  display: block; /* or inline-block */
}

.card--desc span {
    font-weight: 300;
    font-size: 56px;
    line-height: 68px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #FFFFFF;
    }

.card--desc p {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
}

.card--allStarted div {
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}


.btnViewHistory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    width: 231px;
    height: 56px;
    border: 2px solid #FDC724;
    background-color: transparent;
    color: #FDC724;
}
/************END INDEX CARDS***********/


.discover {
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2B0000;
    padding: 48px 20px 20px;
}

.card--location span {
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2B0000;
}

.locationInfos {
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
}

