.no--overflow {
    overflow-x: hidden;
}

.global--imgExpand {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
}

.card--header.standardRoom {
    background: url("../images/photos2.0/rooms/standardRoom/standard1.png");
    font-weight: 300;
    font-size: 56px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 300px;
}

.card--header.carousel {
    position: relative;
    background: none;
}

.carousel ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card--header.standardRoom.room1 {
    background: url("../images/photos2.0/rooms/standardRoom/standard1.png");
}
.card--header.standardRoom.room2 {
    background: url("../images/photos2.0/rooms/standardRoom/standard2.png");
}
.card--header.standardRoom.room3 {
    background: url("../images/photos2.0/rooms/standardRoom/standard3.png");
}

.card--header.standardRoom.room4 {
    background: url("../images/photos2.0/rooms/standardRoom/standard4.png");
}

.card--header.standardRoom.room5 {
    background : lightgray;
    opacity: 80%;
}

.card--roomDescription {
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    color: #131313;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 40px 24px;
}

.card--roomDescription h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 48px */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card--roomDescription > p {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
}

.whatOffers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
}

.whatOffers p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-left: -16px;
}

.policies--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.card--policies {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: #F6F6F9;
    color: var(--brown-80, #131313);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
}

.card--policies ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.card--policies > div {
    color: var(--brown-80, #2B0000);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 30.6px */
    text-transform: uppercase;
}


.card--policies ul {
    list-style-type: none;
}

.card--policies ul > li {
    position: relative;
}

.card--policies ul > li:before {
    content: "-";
    position: absolute;
    left: -8px;
    color: #333; /* Optional: Adjust the dash color to match text */
  } 

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    top: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity : 1;
    transition-delay: 0ms;
}

.carousel--indicator {
    z-index: 3;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 100px;
    width: 86px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.carousel--indicator > .dot {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%;
}

.carousel--indicator > .dot[data-active] {
    background-color: white;
}

.container--RoomsPreview {
    width: 100%;
    text-align: center;
    padding: 24px 0;
}

.container--RoomsPreview span {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #2B0000;
}

@media screen and (min-width: 768px) {
    .card--roomDescription {
        padding: 40px 24px 40px 0;
    }

    .wrapper--allRooms--standAlone {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 48px 0;
    }

    .wrapper--allRooms--standAlone .wrapper-room {
        width: 350px;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2); /* Light black shade */
        opacity: 0;
        transition: opacity 0.3s ease; /* Smooth transition */
        z-index: 10;
    }

    .wrapper-room:hover .overlay {
        opacity: 1;
    }
    
    .wrapper--allRooms--standAlone .wrapper-room {
        width: 350px;
    }

    .preview .queenSuite {
        background-image: url("../images/photos2.0/rooms/queenSuite/queenSuitePreview.png");
    }

    .preview .suiteFireplace {
        background-image: url("../images/photos2.0/rooms/suiteFireplace/suiteFireplace.png");
    }

    .global--imgExpand {
        width: 100%;
    }

    .global--imgExpand img {
        width: 100%;
    }
}